<mat-toolbar>Veículos cadastrados</mat-toolbar>

<div class="linha-botoes">
  <button mat-raised-button color="primary" routerLink="cadastrar">Cadastrar veículo</button>
</div>

<div class="componente-container">
  <div *ngIf="veiculos | async as veiculos; else carregando">
    <table mat-table [dataSource]="veiculos" class="mat-elevation-z8">

      <ng-container matColumnDef="Marca">
        <th mat-header-cell *matHeaderCellDef> Marca </th>
        <td mat-cell *matCellDef="let veiculo"> {{veiculo.marca}} </td>
      </ng-container>

      <ng-container matColumnDef="Modelo">
        <th mat-header-cell *matHeaderCellDef> Modelo </th>
        <td mat-cell *matCellDef="let veiculo"> {{veiculo.modelo}} </td>
      </ng-container>

      <ng-container matColumnDef="Cor">
        <th mat-header-cell *matHeaderCellDef> Cor </th>
        <td mat-cell *matCellDef="let veiculo"> {{veiculo.cor}} </td>
      </ng-container>

      <ng-container matColumnDef="Placa">
        <th mat-header-cell *matHeaderCellDef> Placa </th>
        <td mat-cell *matCellDef="let veiculo"> {{veiculo.placa}} </td>
      </ng-container>

      <ng-container matColumnDef="Dono">
        <th mat-header-cell *matHeaderCellDef> Dono </th>
        <td mat-cell *matCellDef="let veiculo"> {{veiculo.nome}} {{veiculo.sobreNome}} </td>
      </ng-container>

      <ng-container matColumnDef="Acoes">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let veiculo">
          <button mat-raised-button class="mat-success" type="button" routerLink="editar/{{veiculo.idVeiculo}}">
            Editar
          </button>
          <button mat-raised-button color="warn" type="button" (click)="deletarVeiculo(veiculo.idVeiculo)">
            Excluir
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="colunasTabela"></tr>
      <tr mat-row *matRowDef="let row; columns: colunasTabela;"></tr>
    </table>
  </div>
</div>

<ng-template #carregando>
  <mat-spinner></mat-spinner>
</ng-template>
