.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.section-user-actions {
  width: 15%;
  display: flex;
  justify-content: space-between;
}

.nome-estacionamento {
  display: inline;
}

@media (max-width: 768px) {
  .nome-estacionamento {
    display: none;
  }
}
